.App {
  background-color: #0d1117;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

header{
  text-align: center;
  background-color: #161b22;
  color: #c9d1d9;
  font-size: calc(10px + 2vmin);  
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.486);
  transition: 0.3s;
}

footer{
  text-align: center;
  background-color: #161b22;
  color: #c9d1d9;
  font-size: calc(10px + 2vmin);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.486);
  transition: 0.3s;
}

.AppContainer{
  padding: 2px 16px;
}

.AppContainer > div{
  flex: 1; /*grow*/
}

.box{
  background-color: #0d1117;
  border-color: #30363d;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  height: 100%;
}

.repo-container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.box:hover{
  box-shadow: 1px 0px 20px 12px rgb(46 43 43 / 43%);
}

ol li{ 
  list-style:none 
}

.text-small {
  font-size: calc(5px + 1vmin);
  color: #8b949e;
}

a {
  font-size: calc(10px + 1vmin);
  color:#58a6ff; 
  text-decoration: none;
}

a:visited {
  font-size: calc(10px + 1vmin);
  color:#58a6ff;
}

a:hover {
  font-size: calc(10px + 1vmin);
  color:#58a6ff;
  text-decoration: underline;
}

a:active {
  font-size: calc(10px + 1vmin);
  color:#58a6ff;
}

h1{
  color: #c9d1d9;
  font-size: calc(12px + 2vmin);
}

h2{
  color: #c9d1d9;
  font-size: calc(2px + 2vmin);
}

ol { 
  padding-left: 0em; 
}

.mr-1{
  margin-right: 4px;
}

.mr-2{
  margin-right: 8px;
}

.mb-2{
  margin-bottom: 8px;
}

.mb-4{
  margin-bottom: 16px;
}

.progress{
  display: flex;
  height: 4px;
  overflow: hidden;
  background-color: #21262d;
  border-radius: 6px;
  outline: 1px solid transparent;
}

.spinnerContainer{
  text-align: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.repoLanguageLink:hover{
  text-decoration: none !important;
}

.repoLanguageLink:hover span{
  color: #58a6ff !important;
}