.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

header{
  text-align: center;
  background-color: #161b22;
  color: #c9d1d9;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.486);
  transition: 0.3s;
}

footer{
  margin-top: auto;
  text-align: center;
  background-color: #161b22;
  color: #c9d1d9;
  box-shadow: 0 -5px 8px 0 rgb(0 0 0 / 49%);
  transition: 0.3s;
}

.AppContainer{
  padding: 2px 16px;
}

.AppContainer > div{
  flex: 1; /*grow*/
}

.box{
  background-color: #0d1117;
  border-color: #30363d;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  height: 100%;
  box-shadow: 0 0 8px 4px rgb(0 0 0 / 49%);
}

.repo-container{
  padding-right: 15px;
  padding-left: 15px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

ol li{ 
  list-style:none 
}

.text-small {
  color: #8b949e;
}

a {
  color:#58a6ff; 
  text-decoration: none;
}

a:visited {
  color:#58a6ff;
}

a:hover {
  color:#58a6ff;
  text-decoration: underline;
}

a:active {
  color:#58a6ff;
}

h1{
  color: #c9d1d9;
}

h2{
  color: #c9d1d9;
}

ol { 
  padding-left: 0em; 
}

.mr-1{
  margin-right: 4px;
}

.mr-2{
  margin-right: 8px;
}

.mb-2{
  margin-bottom: 8px;
}

.mb-4{
  margin-bottom: 16px;
}

.progress{
  display: flex;
  height: 4px;
  overflow: hidden;
  background-color: #21262d;
  border-radius: 6px;
  outline: 1px solid transparent;
}

.spinner-container{
  text-align: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.repo-language-link:hover{
  text-decoration: none !important;
}

.repo-language-link:hover span{
  color: #58a6ff !important;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
 }

 body{
  background-color: #0d1117;
 }

 .social-link{
   width: 32px;
   margin-right: 1em;
   margin-top: 1em;
 }